/* recording editor styles */
.recording-editor {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    -webkit-user-select: none;
    min-width: 600px;
    background-color: #222;
    z-index: 999;
}
.recording-editor.hide {
    top: -999px;
}
.recording-editor .recorder-ctls {
    position: relative;
    float: left;
    height: 50px;
    padding: 22.5px;
    text-align: justify;
    border-right: 1px solid #000;
}
.recording-editor .recorder-ctls.disabled {
    opacity: .9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    pointer-events: none;
}
.recording-editor .recorder-ctl {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    color: #eee;
    /*color: #000;*/
    font-size: 22px;
    line-height: 50px;
    text-align: center;
    border-radius: 2px;
}
/* recorder ctl's tooltips style */
.recording-editor .tooltips {
    position: absolute;
    top: 115%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    background-color: rgb(60, 60, 60);
    border-radius: 2px;
    z-index: 2;
}
.recording-editor .tooltips:before {
    display: block;
    content: '';
    position: absolute;
    top: -3px;
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: inherit;
    z-index: -1;
}
.recorder-ctl.record-start, 
.recorder-ctl.audio-play, 
.recorder-ctl.record-complete {
    background-color: rgba(64, 203, 144, 1);
}
.recorder-ctl.record-start:hover, 
.recorder-ctl.audio-play:hover, 
.recorder-ctl.record-complete:hover {
    background-color: rgba(104, 214, 167, 1);
}
.recorder-ctl.record-start.disabled, 
.recorder-ctl.audio-play.disabled, 
.recorder-ctl.record-complete.disabled {
    /*opacity: .5;*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* 透明度<1 导致tooltips无法正常显示 */
    pointer-events: all;
    color: rgba(136, 136, 136, 1);
    background-color: rgba(68, 68, 68, 1);
    cursor: auto;
}
/* 暂停样式需要调整 */
.recorder-ctl.record-pause, .recorder-ctl.audio-pause {
    background-color: rgba(231, 76, 60, 1);
}
.recorder-ctl.record-pause:hover, .recorder-ctl.audio-pause:hover {
    background-color: rgba(231, 76, 60, .77);
}
/* no microphone warning style */
.recording-editor .no-microphone {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: rgba(231, 76, 60, .2);
    font-size: 16px;
    z-index: 3;
}
.recording-editor .no-microphone.show {
    display: block;
}
.recording-editor .no-microphone span {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 200px;
    max-height: 60px;
    padding: 15px;
    line-height: 1.4;
    text-align: center;
    border-radius: 3px;
    background-color: rgba(231, 76, 60, 1);
}
/* audio visualization area styles */
.recording-editor .audio-visualization-area {
    overflow: hidden;
    position: relative;
    height: 95px;
    margin-right: 15px;
    border-right: 1px solid #000;
}
.recording-editor .audio-visualization-area.disabled {
    opacity: .9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    pointer-events: none;
}
.recording-editor .canvases {
    position: relative;
    height: 85px;
}
.recording-editor .time-line, 
.recording-editor .audio-wave {
    position: static;
    display: block;
    -webkit-text-size-adjust:none;
    cursor: pointer;
}
.time-line {
    height: 20px;
}
.audio-wave {
    height: 65px;
}
.recording-editor .selected-area {
    position: absolute;
    top: 22px;
    width: 0px;
    height: 61px;
    background-color: rgba(64, 203, 144, .5);
    pointer-events: none;
}
.recording-editor .selected-area:before {
    display: block;
    font-size: 12px !important;
    font-weight: lighter;
    position: absolute;
    top: calc(50% - 6px);
    color: rgba(255, 255, 255, .9) ;
}
.recording-editor .selected-area.left-to-left:before {
    left: 5px;
}
.recording-editor .selected-area.right-to-left:before {
    right: 5px;
}
.recording-editor .selected-area.left-to-right:before {
    left: 5px;
}
.recording-editor .selected-area.right-to-right:before {
    right: 5px;
}
.recording-editor .slider-bar {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 1px;
    height: 65px;
    background-color: rgba(64, 203, 144, 1);
}
.recording-editor .slider-bar:before,
.recording-editor .slider-bar:after {
    display: block;
    position: absolute;
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 7px; 
    background-color: rgba(64, 203, 144, 1);
}
.slider-bar:before {
    top: -3px;
    left: -3px;
}
.slider-bar:after {
    bottom: -3px;
    left: -3px;
}
/* recorded area styles */
.recorded-area {
    border-top: 1px solid #000;
    height: 45px;
}
.recorded-area.hide {
    display: none;
}
.recorded-area audio.recorded-audio {
    pointer-events: none;
    margin-top: 5px;
    margin-left: 5px;
}
.recorded-area a {
    float: right;
    display: inline-block;
    margin-right: 18px;
    line-height: 38px;
    color: rgba(64, 203, 144, .9);
}
.recorded-area a:hover {
    color: rgba(64, 203, 144, 1);
}

/* perfect scrollbar specific style in recording editor */
.recording-editor .ps-container > .ps-scrollbar-x-rail {
    margin-bottom: 2px; 
    opacity: .5; 
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    background-color: transparent !important;
}
.recording-editor .ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
    bottom: 0;
    height: 6px;
}
.recording-editor .ps-container > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x, 
.recording-editor .ps-container > .ps-scrollbar-x-rail:active > .ps-scrollbar-x {
    height: 6px;
    cursor: pointer;
}

/* duration limit layer styles */
.recording-editor .duration-limit {
    display: none;
    position: absolute;
    left: 226px;
    top: 0;
    /*bottom: 0;*/
    right: 0;
    height: 95px;
    background-color: rgba(231, 76, 60, .2);
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 95px;
    z-index: 3;
}
.recording-editor .duration-limit.breath {
    display: block;
    -webkit-animation: duration-limit-breath 1.3s ease-in-out infinite;
            animation: duration-limit-breath 1.3s ease-in-out infinite;
}
@-webkit-keyframes duration-limit-breath {
    0% {
        background-color: rgba(231, 76, 60, .2);
    }
    50% {
        background-color: rgba(231, 76, 60, .3);
    }
    100% {
        background-color: rgba(231, 76, 60, .2);
    }
}
@keyframes duration-limit-breath {
    0% {
        background-color: rgba(231, 76, 60, .2);
    }
    50% {
        background-color: rgba(231, 76, 60, .3);
    }
    100% {
        background-color: rgba(231, 76, 60, .2);
    }
}
.recording-editor .duration-limit .count-down {
    display: inline-block;
    padding: 0 5px;
}
