@font-face {
  font-family: "recording-editor-iconfont";
  src:  url('iconfont.eot?t=1475119325'); /* IE9*/
  src:  url('iconfont.eot?t=1475119325#iefix')    format('embedded-opentype'),  /* IE6-IE8 */
        url('iconfont.woff?t=1475119325')         format('woff'),               /* chrome, firefox */
        url('iconfont.ttf?t=1475119325')          format('truetype'),           /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
        url('iconfont.svg?t=1475119325#iconfont') format('svg');                /* iOS 4.1- */
}
.recording-editor .icon.iconfont:before {
  font-family: "recording-editor-iconfont" !important;
  /*font-size: 20px;*/
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.recording-editor .icon-mic-1:before   { content: "\e603"; }
.recording-editor .icon-play:before     { content: "\e601"; }
.recording-editor .icon-pause:before    { content: "\e600"; }
.recording-editor .icon-ok:before { content: "\e602"; }
.recording-editor .icon-waiting:before { content: "\e604"; }

